@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body{
    background-color: #1F2328;
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
ul a{
    text-decoration: none;
    color: white;
    transition: all .3s ease;
    &:hover{
        color: blue;
    }
}

header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/header_car.png)
}

nav{
    margin-bottom: 70px;
    padding: 30px 0px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav_social{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}
.btn{
    background-color: #6DAECB;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    transition: all .3s ease;
    color: white;
    &:hover{
        background-color: white;
        color: black;
    }
}

.hero{
    .size{
        font-size: 100px;
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }
    .buts{
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 20px 0px;
    }
    .hero_info{
        text-align: center;
        color: white;
        width: 550px;
        margin: 0 auto;
        h1, p{
            margin-bottom: 20px;
        }
    }
}

.sec_one{
    padding: 170px 0px !important;
    background-image: url(../img/one\ secton\ bacground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 40px 0px;
    background-color: #0D0D0D;
    color: white;
    .sec_one_info{
         width: 500px;
         text-align: center;
         justify-content: center;
         margin: 0 auto;

    }
    .leg{
        font-size: 45px;
    }
    h1, p, button{
        margin-bottom: 25px;
    }
    img{
        margin-bottom: 10px;
    }
}

.sec_tw{
    padding: 55px 0px;
    .dis_img{
        display: flex;
        gap: 30px;
    }
    .witer{
        
        .wit{
            position: relative !important;
        }
        .der{
            bottom: 10px !important;
            display: flex;
            position: absolute;
            justify-content: space-between !important;
            gap: 330px;
            align-items: center !important;
            padding: 10px 30px;
            p{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
       
        .let_1{
            position: absolute;
            top: 0px;
            padding: 10px 30px;
            
        }
    }
    
    .sec_tw_info{

        width: 400px;
        .leg{
            font-size: 45px;
        }
        h1,p{
            margin-bottom: 20px;
        }
    }
    
}

.sec_th{
    
    margin-top: 50px;
    padding: 70px 0px;
    .cards{
        h1{
            font-size: 35px;
        }
        h1, p{
            margin-bottom: 20px;
        }
        padding: 40px   ;
        width: 500px;
        background-color: white;
        color: black;
        input{
            padding: 10px 93px;
            border-radius: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
       
        button{
            transition: all .3s ease;
            border-radius: 20px;
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            gap: 10px;
            &:hover{
                background-color: white;

                color: black;
            }
            padding: 10px 85px
        }
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/fro-IMG.png)
    
}

.sec_fr{

    padding: 100px 0px;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .sce_fr_info{
            width: 350px;
            h1{
                font-size: 25px;
            }
            h1, p, button{
                margin-bottom: 20px;
            }
        }
        .spec{
            transition: all .3s ease;
            padding: 10px 30px;
            background-color: white;
            border-radius: 10px;
            &:hover{
                background-color: #6DAECB;
                color: white;
            }
        }
    }
}

footer{
    background-color: black;
    padding: 20px 0px;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.disegn{
    display: none;
}

.freo{
    display: none;
}


@media (max-width: 456px){
    .container{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    header{
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url(../img/media_img.png)
    }

    .size{
        font-size: 40px !important;
    }

    ul{
        display: none;
    }
    .nav_social img{
        display: none;
    }

    .disegn{
        display: flex;
        gap: 10px;
        display: block;
    }
    .hero_info{
        width: 100% !important;
    }
    nav{
        padding: 20px 0px;
    }
    .sec_one{
        background-image: url(../img/xscd.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .sec_one_info{
        width: 100% !important;
    }

    .sec_tw_info{
        width: 100% !important;
    }

    .dis_img{
        flex-direction: column;
    }
    .dis_img img{
        width: 100% !important;
    }

    .cards{
        width: 100% !important;
    }
    input{
        padding: 10px 40px !important;
    }
    .bla_but{
        
        padding: 13px 85px !important;
        align-items: center;
        display: flex;

        img{
            display: none;
        }
    }

    .sec_th{
        background-image: none;
    }

    .freo{
        width: 100%;
        display: block;
    }

    .asadbek{
        display: none;
    }

    .links{
        display: block;
    }

    footer .container{
        flex-direction: column;
        text-align: center;
        li{
            margin-bottom: 15px;
        }
    }
    .der{
        gap: 50px !important;
        p{
            display: flex !important;
            align-items: center;
            img{
                display: none;
            }
        }
    }
    .sec_tw{
        padding: 30px 0px !important;
    }
}